# === Entornos Virtuales (¡IMPRESCINDIBLE!) ===
# No queremos subir las miles de librerías de Python instaladas
venv/
.venv/
env/
ENV/

# === Archivos Gigantes y Datasets (Modelos/Pesos) ===
# Evita subir los modelos descargados o los datasets pesados
*.bin
*.pth
*.pt
*.safetensors
*.pkl
*.zip

# === Archivos Ocultos del Sistema ===
.DS_Store
Thumbs.db
.desktop
.vscode/
.idea/

# === Caché de Python ===
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints/

# === Credenciales y Secretos ===
.env
secretos.*
*.pem
*.key

data/db_rgpd/
data/db_rgpd_pymupdf/
models/resultados_rgpd_llama3/
models/llama3_rgpd_lora/
**/checkpoint-*/